/*
 * Estilos de tu proyecto
 */
body{
    margin: 0;
}
*{
    font-family: 'Montserrat', sans-serif;
}
 /*clase para poner en mayuscula el texto*/
 .text-uppercase{
    text-transform: uppercase;
}
 /*barra de navegación*/
 .container{
     /*outline: 1px solid magenta;*/
     background-color: #2c3e50;
     display: block;
     font-weight: 700;
     height: 107px;
     position: fixed;
     width: 100%;
     z-index: 100;
 }
 .container li>a:hover{
     color: #18bc9c;
 }
 .container>a{
     position: relative;
     top: 34px;
     left: 114px;
     font-size: 32px;
     color: #fff;
 }
a{
    color: #fff;
    text-decoration: none;
    
}
nav ul{
    /*outline: 2px solid olive;*/
    display: block;
    float: right;
    letter-spacing: 1px;
    font-size: 1rem;
    color: #fff;
}
.nav__list li{
    /*outline: 2px solid red;*/
    display: inline;
    position: relative;
    margin-right: 15px;
    right: 107px;
    bottom: 10px;
}

/* presentación de la página */
.section__presentation{
    background-color:  #18bc9c;
    position: relative;
    top: 107px;
    width: 100%;
    height: 685px;
}
.section__center {
    /*outline: 2px solid burlywood;*/
    display: block;
    width: 80%;
    margin: auto;
    position: relative;
    text-align: center;
    top: 88px;
    color: #fff;
}
.section__center h2{
    font-size: 4.75em;
    margin-bottom: 23px;
}
.section__center hr{
    border: 2px solid #fff;
    width: 30%;
}
.section__center p{
    font-size: 1.75em;
    font-weight: 300;
    position: relative;
    bottom: 35px;
}
.fa-star{
    background-color: #18bc9c;
    position: relative;
    bottom: 35px;
    padding: 10px;
}
/*  sección de portafolio */
.section__portfolio{
    position: relative;
    top: 210px;
    width: 100%;
    height: 685px;
    color: #212529;
    text-align: center;
}
.section__portfolio h2{
    font-size: 3em;
}
.section__portfolio hr{
    border: 3px solid #212529;
    width: 15%;
}
.section__portfolio .fa-star{
    background-color: #fff;
}

/* sección de imagenes del portafolio */

.section__images{
    /*outline: 2px solid black;*/
    margin-left: 100px;
    width: 90%;
}
.section__images img{
    width: 30%;
    height: 30%;
    margin-right: 25px;
    margin-bottom: 25px;
}
/* sección acerca del propósito de la página */
.section__about{
    background-color: #18bc9c;
    position: relative;
    top: 407px;
    width: 100%;
    height: 685px;
}
.section__freelancer{
    /*outline: 2px solid yellow;*/
    color: #fff;
    width: 60%;
    height: 60%;
    margin: auto;
    position: relative;
    top: 80px;
    text-align: center;
}
.section__freelancer h2{
    font-size: 3em;
    margin: 0;
    margin-bottom: 15px;
}
.section__freelancer hr{
    border: 2.5px solid #fff;
    width: 25%;
}
.section__information{
    position: relative;
    bottom: 20px;
}
.section__freelancer p{
    /*outline: 1px solid black;*/
    margin-right: 30px;
    float: left;
    width: 45%;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
/* download button */
.section__button>a{
    clear: both;
    width: 200px;
    padding: 20px;
    position: relative;
    top: 60px;
    right: 200px;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 7px;
    font-size: 20px;
}
.section__button>a:hover{
    color: #18bc9c;
    background-color: #fff;
    transition: 0.6s;
}
/* contact me*/
.section__contact{
    position: relative;
    top: 500px;
    width: 100%;
    height: 680px;
}
.section__contactme{
    color:#212529;
    margin: auto;
    text-align: center;
}
.section__contactme h2{
    font-size: 3em;
    margin: 0;
    margin-bottom: 15px;
}
.section__contactme hr{
    border: 2.5px solid #212529;
    width: 15%;
}
.section__contactme .fa-star{
    background-color: #fff;
    color: #212529;
}
.contact__form{
    /*outline: 1px solid black;*/
    position: relative;
    display: block;
    margin: auto;
    width: 50%;
    
}
.contact__form [placeholder]{
    /*outline: 1px solid maroon;*/
    display: block;
    margin: auto;
    padding: 10px;
    width: 90%;
    border: none;
    outline: none;
}
.contact__form hr{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0.5px solid silver;
    width: 90%;
}
.contact__form [type]{
    font-size: 20px;
}
textarea {
    /*outline: 1px solid brown;*/
    resize: none;
    max-height: 120px;
    min-height: 120px;
    margin-bottom: 0px;
    box-sizing: border-box;
}
.contact__form button{
    background-color: #18bc9c;
    border-radius: 5px;
    border: none;
    font-size: 1.3em;
    padding: 15px;
    position: absolute;
    left: 30px;
}
/* footer */
footer{
    position: relative;
    top: 600px;
    background-color: #212529;
    height: 300px;
    width: 100%;
    color: #fff;
    padding-top: 60px;
}
footer div{
    position: relative;
    display: block;
    float: left;
    text-align: center;
    margin-left: 35px;
    width: 30%;
    height: 40%;
}
span a{
    color: #18bc9c;
}
span a:hover{
    text-decoration: underline;
}
footer ul{
    list-style: none;
    position: relative;
    padding-left: 0;
    margin-left: 40px;
}
footer div p{
    width:300px;
    font-size: 20px;
    margin: auto;
}
footer li{
    margin-left: 40px;
}
footer li>a{
    display: inline-block;
    float: left;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
}
footer li>a:hover{
    background-color: #fff;
    color: #18bc9c;
    transition: 0.6s;
}
footer>p{   
    font-size: 14px;
    padding-top: 150px;
    text-align: center;
    clear: both;
}
