body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
 /*class to transform text to uppercase*/
 .text-uppercase{
    text-transform: uppercase;
}
 /*navigation bar*/
 .navigation{
     background-color: #2c3e50;
     display: block;
     font-weight: 700;
     height: 107px;
     position: fixed;
     width: 100%;
     z-index: 100;
 }
 .navigation li>a:hover{
     color: #18bc9c;
 }
 .navigation>a{
     position: relative;
     top: 40px;
     left: 114px;
     font-size: 32px;
     color: #fff;

 }

a{
    color: #fff;
    text-decoration: none;
    touch-action: manipulation;
    
}
nav ul{
    display: block;
    float: right;
    letter-spacing: 1px;
    font-size: 1rem;
    color: #fff;
}
.navigation__list li{
    display: inline;
    position: relative;
    margin-right: 15px;
    right: 107px;
    bottom: 10px;
}
/* presentation section */
.presentation{
    background-color:  #18bc9c;
    position: relative;
    top: 107px;
    width: 100%;
    height: 685px;
}
.presentation__center {
    display: block;
    width: 80%;
    margin: auto;
    position: relative;
    text-align: center;
    top: 88px;
    color: #fff;
}
.presentation__center h2{
    font-size: 4.75em;
    margin-bottom: 23px;
}
.presentation__center hr{
    border: 2px solid #fff;
    width: 30%;
}
.presentation__center p{
    font-size: 1.75em;
    font-weight: 300;
    position: relative;
    bottom: 35px;
}
.fa-star{
    background-color: #18bc9c;
    position: relative;
    bottom: 35px;
    padding: 10px;
}
/*  portfolio section */
.portfolio{
    position: relative;
    top: 210px;
    width: 100%;
    height: 685px;
    color: #212529;
    text-align: center;
}
.portfolio h2{
    font-size: 3em;
}
.portfolio hr{
    border: 3px solid #212529;
    width: 15%;
}
.portfolio .fa-star{
    background-color: #fff;
}

/* images of portfolio section */
.portfolio__images div{
    float: left;
    margin-bottom: 5%;
    margin-left: 6%
}

.portfolio__img1{
    background-image: url(../assets/images/portfolio/cabin.png);
    background-size: 120%;
    background-position: center;
    background-image: no-repeat;
    width: 350px;
    height: 290px;
}/*
.img1__hover>i{
    position: relative;
    top: 120px;
    left: 130px;
    font-size: 40px;
    color: #fff;
}*/
.portfolio__img1:hover{
    background: lightseagreen;
    transition: 0.6s;
}
/*img 2*/
.portfolio__img2{
    background-image: url(../assets/images/portfolio/cake.png);
    background-size: 120%;
    background-position: center;
    background-image: no-repeat;
    width: 350px;
    height: 290px;
}
.img2__hover>i{
    position: absolute;
    top: 120px;
    font-size: 40px;
    color: #fff;
}
.portfolio__img2:hover{
    background: lightseagreen;
    transition: 0.6s;
}
/*img 3*/
.portfolio__img3{
    background-image: url(../assets/images/portfolio/circus.png);
    background-size: 120%;
    background-position: center;
    background-image: no-repeat;
    width: 350px;
    height: 290px;
}
.img3__hover>i{
    position: absolute;
    top: 120px;
    font-size: 40px;
    color: #fff;
}
.portfolio__img3:hover{
    background: lightseagreen;
    transition: 0.6s;
}
/*img 4*/
.portfolio__img4{
    background-image: url(../assets/images/portfolio/game.png);
    background-size: 120%;
    background-position: center;
    background-image: no-repeat;
    width: 350px;
    height: 290px;
}
.img4__hover>i{
    position: absolute;
    top: 120px;
    font-size: 40px;
    color: #fff;
}
.portfolio__img4:hover{
    background: lightseagreen;
    transition: 0.6s;
}
/*img 5*/
.portfolio__img5{
    background-image: url(../assets/images/portfolio/safe.png);
    background-size: 120%;
    background-position: center;
    background-image: no-repeat;
    width: 350px;
    height: 290px;
}
.img5__hover>i{
    position: absolute;
    top: 120px;
    font-size: 40px;
    color: #fff;
}
.portfolio__img5:hover{
    background: lightseagreen;
    transition: 0.6s;
}
/*img 6*/
.portfolio__img6{
    background-image: url(../assets/images/portfolio/submarine.png);
    background-size: 120%;
    background-position: center;
    background-image: no-repeat;
    width: 350px;
    height: 290px;
}
.img6__hover>i{
    position: absolute;
    top: 120px;
    font-size: 40px;
    color: #fff;
}
.portfolio__img6:hover{
    background: lightseagreen;
    transition: 0.6s;
}

/*
.presentation__images{
    margin-left: 100px;
    width: 90%;
}
.presentation__images img{
    float: left;
    width: 30%;
    height: 30%;
    margin-right: 25px;
    margin-bottom: 25px;
}
*/
/* about section */
.about{
    background-color: #18bc9c;
    position: relative;
    top: 407px;
    width: 100%;
    height: 685px;
}
.about__freelancer{
    color: #fff;
    width: 60%;
    height: 60%;
    margin: auto;
    position: relative;
    top: 80px;
    text-align: center;
}
.about__freelancer h2{
    font-size: 3em;
    margin: 0;
    margin-bottom: 15px;
}
.about__freelancer hr{
    border: 2.5px solid #fff;
    width: 25%;
}
.about__information{
    position: relative;
    bottom: 20px;
}
.about__freelancer p{
    margin-right: 20px;
    /*float: left;*/
    width: 45%;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
/* download button */
.about__button>a{
    clear: both;
    width: 200px;
    padding: 20px;
    position: relative;
    top: 60px;
    /*right: 200px;*/
    margin: auto;
    border: 2px solid #fff;
    border-radius: 7px;
    font-size: 20px;
}
.about__button>a:hover{
    color: #18bc9c;
    background-color: #fff;
    transition: 0.6s;
}
/* contact-me section*/
.contact{
    position: relative;
    top: 500px;
    width: 100%;
    height: 680px;
}
.contact__section{
    color:#212529;
    margin: auto;
    text-align: center;
}
.contact__section h2{
    font-size: 3em;
    margin: 0;
    margin-bottom: 15px;
}
.contact__section hr{
    border: 3px solid #212529;
    width: 15%;
}
.contact__section .fa-star{
    background-color: #fff;
    color: #212529;
}
/* contact form */
.contact__form{
    position: relative;
    display: block;
    margin: auto;
    width: 50%;
    
}
.contact__form [placeholder]{
    display: block;
    margin: auto;
    padding: 10px;
    width: 90%;
    border: none;
    outline: none;
}
.contact__form hr{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0.5px solid silver;
    width: 90%;
}
.contact__form [type]{
    font-size: 20px;
}
/* message box */
textarea {
    resize: none;
    max-height: 120px;
    min-height: 120px;
    margin-bottom: 0px;
    box-sizing: border-box;
}
textarea[type]{
    font-family: 'Montserrat',sans-serif;
}
/* button to submit answer of the form */
.contact__form button{
    background-color: #18bc9c;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1.3em;
    padding: 15px;
    position: absolute;
    left: 30px;
}
.contact__form button:hover{
    background-color: #198872;
    transition: 0.5s;
}
/* footer */
footer{
    position: relative;
    top: 600px;
    background-color: #212529;
    height: 300px;
    width: 100%;
    color: #fff;
    padding-top: 60px;
}
/* separate contect of the footer in blocks */
footer div{
    position: relative;
    display: block;
    float: left;
    text-align: center;
    margin-left: 35px;
    width: 30%;
    height: 40%;
}
span a{
    color: #18bc9c;
}
span a:hover{
    text-decoration: underline;
}
footer div p{
    width:300px;
    font-size: 20px;
    margin: auto;
}
/* list of icons */
footer ul{
    list-style: none;
    position: relative;
    padding-left: 0;
    margin-left: 40px; 
}
footer li{
    /*margin-left: 25px;*/
    font-size: 20px;
}
footer li a{
    display: inline-block;
    float: left;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 13px 10px 10px;
    width: 35px;
    height: 30px;
    margin-right: 10px;
    
}
footer li>a:hover{
    background-color: #fff;
    color: #18bc9c;
    transition: 0.5s;
}
footer>p{   
    font-size: 14px;
    padding-top: 150px;
    text-align: center;
    clear: both;
}
